extends ../layout

block content
  a(href="/usuarios") Volver
  br
  br

  .container#createUser
    .message.signup
      //- .btn-wrapper
      //-   button#signup.button Sign Up
      //-   button#login.button  Login
    .form.form--signup
      .form--heading RESETEA TU CONTRASEÑA
        div Revise su cuenta de mail, le llegara un correo con las instrucciones a seguir.