extends ../layout

block content
  a(href="/usuarios") Volver
  br
  br

  .container#createUser
    .message.signup
      //- .btn-wrapper
      //-   button#signup.button Sign Up
      //-   button#login.button  Login
    .form.form--signup
      .form--heading 
        if info && info.message
          .alert.alert-danger
            = info.message
        h2.text-center Recuperación de Password
        p.mt-4.mb-4 Por favor, ingrese su mail y le enviaremos a esa cuenta las instrucciones.
      form.mt-5(action="/forgotPwd" method="post")
        .form-group
          input#email(type='email', placeholder= 'Email' name= "email" /*class= errors.email ? 'is-invalid': ''*/)
          button.button.mt-4(type='submit') Sign Up