extends ../layout

block content
  a(href="/usuarios") Volver
  br
  br

  .container#createUser
    .message.signup
    
    .form.form--signup
      .form--heading Actualiza tu Usuario
      form(action=`/usuarios/${usuario.id}/update` method='post')
        input#nombre(type='text' name= 'nombre' placeholder= 'Nombre' value= usuario.nombre /*class= errors.nombre ? 'is-invalid': ''*/)
          //- if errors.nombre
          //-   small#nombreHelp.text-danger
          //-     = errors.nombre.message
          
        
        button.button(type='submit') Update
      //- .form.form--login
      //-   .form--heading Bienvenido, Ingresa! 
      //-   form(autocomplete='off')
      //-     input(type='text', placeholder='Name')
      //-     input(type='password', placeholder='Password')
      //-     button.button Login
